@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&family=Raleway:wght@300&display=swap');

html,
    body{
        font-family: 'Raleway', sans-serif;
        background-image: linear-gradient(to right, white, gray);
        margin: 0;
        padding: 0;
        overflow: hidden;
    }
    .sitecemtn{
        text-align: end;
        font-family: 'Raleway', sans-serif;
        font-size: large;
    }
    .cemtnsobre{
        color: black;
        font-family: 'Lato', sans-serif;
        font-size: large;
    }
    .openall{
        padding: 0px;
        height: 119px;
    }
    .titulo{
        font-size: large
    }
    #menu {
      background-color: #333;
      font-size: larger;
      height: 50px;
      padding: 10px;
      color: white;
    }
    
    #menu ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }
    
    #menu ul li {
      display: inline-block;
      margin-right: 10px;
    }
    
    #menu ul li a {
      color: #fff;
      text-decoration: none;
      padding: 5px 10px;
    }
    
    /* Estilos para as imagens que rolam automaticamente */
    #carousel {
      width: 100%;
      height: 200px;
      overflow: hidden;
      white-space: nowrap;
    }
    
    #carousel img {
      display: inline-block;
      width: 300px;
      height: 200px;
      margin-right: 10px;
    }
    
    /* Efeito de animação para as imagens */
    @keyframes scroll {
      0% {
        transform: translateX(0);
      }
      100% {
        transform: translateX(-100%);
      }
    }
    
    #carousel img {
      animation: scroll 10s infinite linear;
    }
  